* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
}

section {
    background-color: #121212;
    color: #fff;
}

div {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

div h1,h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div span {
    color: #b1b1b1;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}